/* Only UI fonts here, which are needed before the editor initializes. */
/* These cannot be dynamically prepended with `EXCALIDRAW_ASSET_PATH`. */
/* WARN: The following content is replaced during excalidraw-app build  */

@import url("//fonts.vfox.me/JasonHandwriting2-Regular/style.css");
@import url("//fonts.vfox.me/YZ-ZongYiDanMu/style.css");
@import url("//fonts.vfox.me/MuYaoSuiXinShouXie/style.css");
@import url("//fonts.vfox.me/JasonHandwriting1-Regular/style.css");
@import url("//fonts.vfox.me/Yozai-Regular/style.css");
@import url("//fonts.vfox.me/YZ-QiMengShouJi/style.css");
@import url("//fonts.vfox.me/YZ-QingSeQingShu/style.css");
@import url("//fonts.vfox.me/YZ-CangNanShouJi/style.css");
@import url("//fonts.vfox.me/Muyao-Softbrush/style.css");
@import url("//fonts.vfox.me/ShouShuTi/style.css");
@import url("//fonts.vfox.me/ChillZhuo/style.css");
@import url("//fonts.vfox.me/XiaolaiSC-Regular/style.css");
@import url("//fonts.vfox.me/LXGWWenKaiLite-Regular/style.css");
@import url("//fonts.vfox.me/XinYeNian/style.css");

@font-face {
  font-family: "Assistant";
  src: url(./Assistant-Regular.woff2) format("woff2");
  font-weight: 400;
  style: normal;
  display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url(./Assistant-Medium.woff2) format("woff2");
  font-weight: 500;
  style: normal;
  display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url(./Assistant-SemiBold.woff2) format("woff2");
  font-weight: 600;
  style: normal;
  display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url(./Assistant-Bold.woff2) format("woff2");
  font-weight: 700;
  style: normal;
  display: swap;
}
